NODE_ENV=development
SERVER_PORT=3001
LOG_LEVEL=info
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=cybaworld
POSTGRES_USER=cybaworld
POSTGRES_PASSWORD=cybaworld_dev_password
REDIS_HOST=localhost
REDIS_PORT=6379
